.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
/* nav section */
.schoolnav{
    max-width: 1440px;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.sch-logo{
    display: flex;
}
.icon{
    width: 1.8rem;
    height: 1.8rem;
    display: none;
}

.schoolink{
    max-width: 380px;
    max-height: 30px;
}
.link{
    max-width: 380px;
    max-height: 30px;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: medium;
    margin-left: 1.24rem;
}
#home{color: orange;}
#about{color: skyblue;}
#fac{color: #05D4DF;}
#admission{color: #5D58EF;}
.btn-primary{
    width: 197px;
    height: 50px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 12px; 
    margin-right: 30px;
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1150px;
    max-height: 575px;
    margin: 0 auto;
    gap: 50px;
}
.banner-content{
    max-width: 40rem;
    max-height: 20.6rem;
    gap: 1.5rem;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
}
#bg1{color: orange;}
#bg2{color: skyblue;}
.banner-dis{
    font-size: 1.25rem;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.474);
}
.banner-btn{
    background-color: black;
    width: 12.3rem;
    height: 3.1rem;
    color: white;
    border: none;
    border-radius: 12px;
}
.banner-img{
    max-width: 29.25rem;
    max-height: 35rem;
}
/* banner end */
@media screen and (max-width:576px) {
    .banner{
        flex-direction: column-reverse;
    
    }
    .banner-img{
        width: 80%;
    }
    .banner-content{width: 90%;}
    .btn-primary,.schoolink{
        display: none;
    }
    .icon{display: block;}
    .sch-logo-title{display: none;}
    .sch-logo{
        width: 390px;
        height: 70px;
        display: flex;
        justify-content: space-around;
    
    }
    #line{
        height: 4px;
        width: 100%;
        background-color: orange;
        display: inline-block;
}